.admin {
  &__flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    @media screen and (min-width: $tablet) {
      flex-direction: row;
      gap: 100px;
    }
  }
  &__item {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    max-width: 300px;
  }
}
