body {
  background-color: $colour-dark;
  font-family: $font-primary;
}

.container {
  width: 90%;
  max-width: 1900px;
  margin: 0 auto;
  @media screen and (min-width: $desktop) {
    padding-bottom: 100px;
  }
  &__frontimage {
    z-index: -1;
    @media screen and (min-width: $tablet) {
      width: 90%;
      margin: 0 auto;
    }
  }
  &__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    @media screen and (min-width: 1000px) {
      height: 800px;
    }
    &--overlay--login {
      height: 700px;
      @media screen and (min-width: $tablet) {
        height: 900px;
      }
    }
    &--overlay--contact {
      height: 800px;
      @media screen and (min-width: $tablet) {
        height: 900px;
      }
    }
    &--overlay--enquiry {
      height: 900px;
      @media screen and (min-width: $tablet) {
        height: 1000px;
      }
    }
  }
}

.overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  width: 300px;
  top: 150px;
  left: 50%;
  margin-left: -150px;
  @media screen and (min-width: 1000px) {
    display: block;
    position: absolute;
    top: 165px;
    left: 50%;
    margin-left: -500px;
    width: 1000px;
    height: 800px;
  }
}

.overlay__container {
  @media screen and (min-width: 1000px) {
    padding: 90px;
  }
}

.overlay__frontpage {
  z-index: 0;
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  top: 120px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  height: 100px;

  @media screen and (min-width: 1000px) {
    top: 300px;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.9);
  }
  &--heading {
    text-align: center;
  }
}

.loader {
  color: $colour-dark;
  font-size: 16px;
  margin: 20px 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  animation: spin 1.3s infinite linear;
  transform: translateZ(0);
  &__accommodation {
    margin: 100px auto;
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
