.nav {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0;
  background-color: $colour-dark;
  @media screen and (min-width: $tablet) {
    position: static;
    flex-direction: row;
    align-items: center;
  }
  &__mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    font-family: $font-secondary;
    color: $colour-light;
    font-size: 32px;
    text-decoration: none !important;
  }
  &__link {
    text-decoration: none;
    color: $colour-light;
    font-family: $font-primary;
    font-size: 20px;
    font-weight: lighter;
    &:hover {
      text-decoration: underline;
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
    @media screen and (min-width: $tablet) {
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
    }
  }

  .active {
    text-decoration: underline;
  }
}

.hamburger-menu {
  width: 40px;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
