.index__section {
  &__1 {
    background-color: $colour-dark;
  }
  &__2 {
    background-color: $colour-light;
  }
  &__3 {
    background-color: $colour-main;
  }
  &__4 {
    background-color: $colour-light;
  }
  &__flex {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $desktop) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
    }
  }
  &__image {
    width: 100%;
  }
}

.accommodation__section {
  &__1 {
    background-color: $colour-dark;
  }
  &__2 {
    background-color: $colour-main;
  }
  &__3 {
    background-color: $colour-light;
  }
  &__flex {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $desktop) {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      gap: 90px;
    }
  }
  &__image {
    width: 100%;
  }
}

.activity__section {
  &__1 {
    background-color: $colour-dark;
  }
  &__2 {
    background-color: $colour-light;
  }
  &__flex {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $desktop) {
      flex-direction: row;
      justify-content: space-between;
      gap: 50px;
    }
  }
  &__image {
    width: 100%;
  }
}

.details__section {
  &__1 {
    background-color: $colour-dark;
  }
  &__2 {
    background-color: $colour-light;
  }
  &__flex {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $desktop) {
      flex-direction: row;
      justify-content: space-between;
      gap: 50px;
    }
  }
  &__image {
    width: 100%;
  }
}

.contact__section {
  &__1 {
    background-color: $colour-dark;
    position: relative;
  }
}

.admin__section {
  background-color: $colour-light;
}
