h1,
h2 {
  font-family: $font-secondary;
  font-size: 22px;
  color: $colour-dark;
  padding: 30px 0 30px;
  margin: 0;

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    padding: 100px 0 50px;
  }
}

h3 {
  font-family: $font-secondary;
  color: $colour-dark;
  font-size: 22px;
}

p {
  font-size: 14px;
  color: $colour-dark;
  font-weight: lighter;
  @media screen and (min-width: $desktop) {
    font-size: 20px;
  }
}

a {
  font-family: $font-secondary;
  color: $colour-main-accent;
  font-size: 16px;
  @media screen and (min-width: $desktop) {
    font-size: 22px;
    text-decoration: none;
  }
  &:hover {
    @media screen and(min-width: $desktop) {
      text-decoration: underline;
    }
  }
}

.bold {
  font-weight: bold;
}
