// fonts

$font-primary: "Josefin sans", sans-serif;
$font-secondary: "Yeseva One", serif;

// Colours

$colour-dark: #3b210d;
$colour-light: #f2f2f2;
$colour-main: #d1b7a2;
$colour-main-dark: #271608;
$colour-main-accent: #9c451e;

// screen sizes

$tablet: 768px;
$desktop: 1366px;
